*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.btn{
    padding: .6em 1.1em;
    color: #fff;
    background-color: #2C8AC5;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    transition: .3s background-color;
}

.btn:hover{
    background-color: #285e8e;
}
i.fas{
    margin-right: 6px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header{
    height: 51px;
    background-color: #222222;
    
}
.header__content{
    width: 65%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
}
.header__content img{
    height: 30px;
}


.body{
    height: calc(100vh - 102px);
    text-align: center;
    background-color: #E0EFFA;
    background-image: linear-gradient(-1.2217rad, rgba(255, 255, 255, 0.5) 10%, transparent 10%), linear-gradient(1.2217rad, transparent 85%, rgba(255, 255, 255, 0.5) 85%), linear-gradient(-0.6981rad, rgba(255, 255, 255, 0.5) 15%, transparent 15%), linear-gradient(1.2217rad, rgba(255, 255, 255, 0.5) 20%, transparent 20%), linear-gradient(-0.7853rad, rgba(66, 161, 227, 0.08) 30%, transparent 30%), linear-gradient(0.6981rad, rgba(217, 236, 250, 0.5) 40%, transparent 40%), linear-gradient(1.3962rad, transparent 65%, rgba(255, 255, 255, 0.31) 65%), linear-gradient(-1.0471rad, rgba(217, 236, 250, 0.5) 50%, transparent 50%), linear-gradient(1.0471rad, rgba(255, 255, 255, 0.5) 60%, transparent 60%), linear-gradient(-1.3962rad, rgba(255, 255, 255, 0.5) 70%, transparent 70%), linear-gradient(1.3089rad, rgba(142, 199, 241, 0.5) 80%, transparent 80%), linear-gradient(-1.3089rad, rgba(58, 139, 215, 0.55) 90%, transparent 90%), linear-gradient(-1.3962rad, rgba(255, 255, 255, 0.5) 65%, transparent 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: #fff;
    width: 600px;
    overflow: hidden;
    padding:3em 4em;
    padding-bottom: 4em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.form__header__img{
    height: 70px;
}
.form p{
    margin: 1.5em 0;
    font-size: 13.5px;
}
.form-group{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.form-input{
    display: flex;
    height: 2.4em;
    border: none;
    width: 65%;
}
.form-label{
    transform: translateY(5px);
}


.form-input i.fas
{
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    line-height: 2.5em;
    font-size: 14px;
    padding: 0 .8em;
    text-align: center;
}

.form-control{
    font-family: 'Raleway', sans-serif;
    border: 1px solid #cbcbcb;
    padding: 1em;
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 4px; 
    border-top-right-radius: 4px;
    border-left: none;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    color: #000;
}

form .btn{
    float: right;
    margin-top: 1em;
}

.footer{
    height: 51px;
    background-color: #222222;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, .5);
    align-items: center;
    font-size: 13px;
    padding: 0 30px;
}

.footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    transform: translateY(5px);
}

.footer ul li{
    margin: 0 5px;
}

.footer ul li img{
    height: 20px;
    width: 20px;
}


/* MOBILE  STYLE */

@media only screen and (max-width: 580px)
{
    .form {
        width: 90%;
        padding-right: 1em;
        padding-left: 1em;
    }
    .form__header__img
    {
        width: 100%;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
    }
    .form-input{
        width: 100%;
    }

    .form-label{
        transform: translateY(-5px);
    }

    .footer .logo_libriciel{
        height: 15px;
    }
}

/* MOBILE FOOTER */
@media only screen and (max-width: 1100px)
{
    .footer{
        height: auto;
        flex-direction: column;
        margin: 0;
        padding: 10px 0;
        align-items: center;
    }
    .footer .logo_libriciel{
        margin: 10px 0 15px 0;
    }
    .footer p {
        order: 1;
        text-align: center;
    }

}